/* Estilos Generales */
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 25px;
    color: #333;
    background-color: #f4f4f4;
}

/* Encabezado */
.encabezado {
    background-color: #9b3320;
    color: #ffffff;
    padding: 1px;
    text-align: center;
}
    
.encabezado__titulo {
    font-size: 35px;
}

/* Contenido Principal */
.contenido-principal {
    padding: 20px;
}

/* Secciones */
section {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 8px;
}


/* Noticias */
.noticias {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.noticias__titulo {
    font-size: 24px;
    margin-bottom: 20px;
}

.noticias__articulo {
    text-align: center; 
}

.articulo__imagen {
    max-width: 100%;
    max-height: 300px;  
    border-radius: 8px;
    margin-bottom: 10px;
}

.articulo__titulo {
    font-size: 28px; 
    margin-bottom: 15px; 
}


.articulo__resumen {
    color: #666;
    line-height: 25px;
}

.articulo__enlace {
    text-decoration: none;
    color: #4286f4;
    font-weight: bold;
    transition: color 0.3s;
}

.articulo__enlace:hover {
    color: #0a6cf4;
}

/* Horarios */
.horarios__titulo {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.horarios__tabla {
    width: 100%;
    border-collapse: collapse;
}

.horarios__tabla th,
.horarios__tabla td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

/* Perfiles */
.perfiles__imagen {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

.perfiles__nombre {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 15px;
}

.perfiles__descripcion {
    font-size: 16px;
    line-height: 29px;
    text-align:center;
}

/* Pie de Página */
.pie-pagina {
    background-color: #5c1e1e;
    color: #ffffff;
    text-align: center;
    padding: 10px ;
}

.pie-pagina__titulo,
.pie-pagina__correo,
.pie-pagina__telefono {
    margin: 5px;
}